---
const currentYear = new Date().getFullYear();
---
<footer class="footer box-flex align-center justify-center">
    &copy; { currentYear } | Made by Nicolette with ☕ , ❤️ & <a target="_blank" href="https://astro.build/">astro</a>
</footer>

<style lang="scss">

    .footer {
        margin: 1rem 0;
        font-size: 1.8rem;
    }
</style>