---
import NavLink from './NavLink.astro';
const navItems = ["experience","projects","about"];
---
<style lang="scss">

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .header{
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        &__inner{
            margin-top: 1.5rem;

            @media screen and (max-width: 700px) {
                justify-content: center;
            }
        }

        &__site-name{
            font-family: var(--font-special);
            font-size: 6rem;
            color: var(--color-primary);
            animation-name: moveInLeft;
            animation-duration: 2s;
            text-align: center;

            @media ( max-width: 1200px ) {
                color: var(--color-secondary);
                font-size: 4rem;

            }

            @media screen and (max-width: 700px) {
                width: 90%;
            }

        }
    }

    @keyframes moveInLeft {
        0% {
            opacity: 0;
            transform: translateX(-20rem);
        }

        80% {
            transform: translateX(1rem);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

</style>

<header class="header padding-top padding-bottom" role="banner">
    <div class="wrapper">
        <div class="header__inner box-flex space-between align-center">
            <a class="header__site-name" href="/">
                nicolette.codes
            </a>
            <nav class="nav">
                <ul class="nav__list box-flex align-center">
                    {
                       navItems.map(
                            (item) => (
                                <NavLink path={item} />
                            )
                       ) 
                    }           
                </ul>
            </nav>

        </div>
    </div> 
</header>